$hr-color: #598a00;


.aktualityContainer {
    text-align: center;
    margin: 5em auto;
    p {
        width: 50em;
        margin-left: auto;
        margin-right: auto;
    }
    h5 {
        margin-left: 5rem;
        color: $hr-color;
    }
}

.introText {
    margin-bottom: 5em;
    text-align: left;
}

.childPhoto {
    margin-bottom: 3em;
}

.aktualita {
    position: relative;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    p {
        margin: 3em;
    }
}

.icon {
    position: absolute;
    left: 0;
    top: 8%;
}

.hr {
    border-top: .5px solid $hr-color;
    border-bottom: 0;
    margin: 0 35%;
    width: 30%;
}

@media (max-width: 900px) {
    .aktualita {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .aktualityContainer {
        margin: 3em auto;
        p {
            width: 90%;
            margin: 0 0 2em 1em;
        }
        h5 {
            margin-left: 2rem;
        }
    }
    .childPhoto {
        width: 90%;
        margin-bottom: 1em;
    }
    .icon {
        top: 2%;
        width: 12px;
    }
}

@media (max-width: 500px) {
    aktualityContainer {
        margin: 2em auto;
    }
}
