$bg-meal-time: #8cc81d;
$bg-days: #8cc81d;



.jedalenContainer  {
    text-align: center;
    margin: 5em auto;
}
figure {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    table-layout: fixed;
    width: 50em;
}
table {
    width: 100%;
}

tbody td:nth-child(1) {
  width: 10%;
  background: $bg-days;
  color: #ffffff;
  font: {
        family: 'Kalam', sans-serif;
    }
}


tbody tr:nth-child(even) {
    background: rgb(233, 233, 233);
}
tbody tr:nth-child(odd) {
    background: #ffffff;
}



tbody tr:nth-child(1) {
    color: #ffffff;
    background: $bg-meal-time;
    font: {
        family: 'Kalam', sans-serif;
        size: 1.3em;
    }
}

tbody tr:not(:first-child) {
    color: #747474;
    font: {
            family: 'Rubik', sans-serif;
        }
}


@media (max-width: 850px) {
    .jedalenContainer  {
        margin: 3em auto;
    }
    figure {
        width: 99%;
    }
    td {
        width: 5em;
    }
    tbody td:nth-child(1) {
        width: 2em;
    }
    tbody:not(:first-child) {
        width: 30%;
    }
    tbody tr {
        font: {
            size: .75em;
        }
    }
    .vegetable {
        width: 90%;
    }
    thead {
        font: {
            size: .75em;
        }
    }
    tbody tr:nth-child(1) {
        font: {
            size: .9em;
        }
    }

}


@media (max-width: 500px) {
    .jedalenContainer  {
        margin: 2em auto;
    }
    tbody tr {
        font: {
            size: .6em;
        }
    }

    tbody tr:nth-child(1) {
        font: {
            size: .7em;
        }
    }
}
